--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.6.0+cu124
torchvision==0.21.0+cu124
numpy==2.1.2
opencv-python==4.12.0.88
Pillow==11.3.0
scipy==1.15.3
matplotlib==3.10.7
accelerate==1.12.0
peft==0.18.1
transformers==4.57.6
mlflow==3.7.0
click==8.3.1
tqdm==4.67.1
huggingface-hub==0.36.0
utils3d @ git+https://github.com/EasternJournalist/utils3d.git@e2bb46a199b10645f19477108f3358fbb8818df2
pipeline @ git+https://github.com/EasternJournalist/pipeline.git@866f059d2a05cde05e4a52211ec5051fd5f276d6
trimesh==4.10.1
